.color-picker {
  text-align: center;
  margin: 20px;
  margin-top: 250px;
}

button {
  background-color: #61b354;
  color: white;
  border: none;
  padding: 10px 20px;
}


.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 4px 4px 6px #808080;
}

.selected-color {
  margin-top: 20px;
}

.selected-color span {
  padding: 10px;
  color: white;
}
